{% extends "shop/base.html" %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card register-card p-4 shadow-lg">
        <h2 class="text-center fw-bold mb-4">Registro</h2>
        <h5 class= "text-center fw-bold mb-2"> ShortyShop </h5>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label {% if field.id_for_label %}for="{{ field.id_for_label }}"{% endif %} class="form-label fw-bold">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">
                            {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-danger w-100 py-2">Registrarse</button>
        </form>
        <p class="text-center mt-3">
            ¿Ya tienes cuenta? <a href="#" class="text-danger" id="showLoginDropdown">Inicia sesión aquí</a>
        </p>
    </div>
</div>
{% endblock %}
