{% extends 'shop/base.html' %}
{% load static %} 

{% block content %}
<div class="container mt-7 py-5">
    <div class="row">
        <!-- Imagen del producto -->
        <div class="col-md-6 d-flex justify-content-center">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid rounded w-75">
            {% else %}
                <img src="{% static 'shop\images\pleaceholder.jpg' %}" alt="Imagen no disponible" class="img-fluid rounded w-75">
            {% endif %}
        </div>

        <!-- Información del producto -->
        <div class="col-md-6">
            <h1 class="fw-bold">{{ product.name }}</h1>
            <p class="text-muted">Categoría: <strong>{{ product.category }}</strong></p>
            <p class="lead">{{ product.description }}</p>
            <h4 class="text-danger fw-bold">${{ product.price }}</h4>
            <h4 class="text-danger fw-bold">${{ product.price }}</h4>
            {% if request.user.is_staff %}
                <a href="{% url 'edit_product' product.id %}" class="btn btn-warning">Editar Producto</a>
                <form method="POST" action="{% url 'delete_product' product.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar Producto</button>
                </form>
            {% endif %}

            <!-- Formulario para agregar al carrito -->
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="quantity" class="form-label">Cantidad</label>
                    <input type="number" name="quantity" id="quantity" class="form-control w-50" value="1" min="1">
                </div>
                <button type="submit" class="btn btn-dark w-100">Agregar al Carrito</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
